.teams {
    flex-direction: column;
    justify-content: center;
    margin: 1.5rem 3.5rem;
  }
  
  .overlay {
    background: #d0efed;
  }
  
  .team-card {
    margin: 0 0.5rem;
    padding-bottom: 2rem;
    height: fit-content;

  }
  
  .team-card img {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  
  .column-parent {
    margin: 0 auto;
  }
  .mobile-slider {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .top h4 {
      font-size: 18px;
    }
  
    .top .font-normal {
      display: none;
    }
  
    .mobile-slider {
      display: block;
      margin: 0 auto;
      overflow: hidden;
    }
  
    .column-parent {
      display: none;
    }
  }
  